<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/fragment_head('Accueil')" />

<body>
<div class="wrapper">
    <th:block th:replace="fragments/fragment_sidebar :: sidebar"/>

    <div class="main-panel" id="main-panel">

        <section class="p-4">
            <div class="container">



            </div>
        </section>


    </div>
</div>


<th:block th:replace="fragments/fragment_footer :: footer"/>
<th:block th:replace="fragments/fragment_script :: script"/>
</body>
</html>