<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/fragment_head('Profil')" />

<body>
<div class="wrapper">
    <th:block th:replace="fragments/fragment_sidebar :: sidebar"/>

    <div class="main-panel" id="main-panel">

        <section class="p-4">
            <div class="container">
                <div class="">
                    <div class="row justify-content-between align-items-center text-center text-md-left">
                        <div class="col-md-9">
                            <h4 class="mb-1 color-white">Bénéficiez dès maintenant des avantages de notre solution.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="panel-header panel-header-sm">
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Changez votre mot de passe( obligatoire )</h5>
                            </div>
                            <div class="card-body">
                                <form method="post" th:action="@{/backend/change-password}" >

                                    <div class="row">

                                        <div class="col-md-12 pl-5 pr-5">
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="text" class="form-control" name="password" placeholder="Entrez le mot de passe" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-12 pl-5 pr-5">
                                            <div class="form-group">
                                                <label>Confirmer le password</label>
                                                <input type="text" class="form-control" name="confirm-password" placeholder="Confirmez le mot de passe" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row pl-5 pr-5">
                                        <button type="submit" rel="tooltip" class="btn btn-info btn-round col-md-12 pr-1" data-original-title="" title="">
                                            VALIDER
                                            <i class="now-ui-icons arrows-1_minimal-right"></i>
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>


</div>

<th:block th:replace="fragments/fragment_footer :: footer"/>
<th:block th:replace="fragments/fragment_script :: script"/>
</body>
</html>