<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="sidebar" data-color="red">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="" class="simple-text logo-normal">
            ARTISAN'
        </a>


        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-outline-white btn-icon btn-round" >
                <i class="now-ui-icons text_align-center visible-on-sidebar-regular" ></i>
                <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini" ></i>
            </button>
        </div>
    </div>

    <div class="sidebar-wrapper" id="sidebar-wrapper">

        <div class="logo">

            <a href="" class="simple-text logo-normal" th:text="${user.username  + ' - ' + user.function }"> </a>

        </div>



            <ul class="nav">

                <div th:unless="${user.firstConnection}">

                <li>
                    <a th:href="@{/backend}">
                        <i class="now-ui-icons design_app"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                 <!-- ADMIN -->

                <li th:if="${user.admin}">
                    <a th:href="@{/backend/admin/artisans}">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>Artisans</p>
                    </a>
                </li>


                <li th:if="${user.admin}">
                    <a th:href="@{/backend/admin/announcements}">
                        <i class="now-ui-icons files_paper"></i>
                        <p>Annonces</p>
                    </a>
                </li>

                <li th:if="${user.admin}">
                    <a th:href="@{/backend/admin/specialities}">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>Secteur d'activité</p>
                    </a>
                </li>

                <li th:if="${user.admin}">
                    <a th:href="@{/backend/admin/clients}">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>Clients</p>
                    </a>
                </li>


                <!-- END ADMIN -->

                <!-- ARTISAN -->

                    <li th:if="${user.artisan}">
                        <a th:href="@{/backend/artisan/announcements}">
                            <i class="now-ui-icons files_paper"></i>
                            <p>Annonces</p>
                        </a>
                    </li>

                <!-- END ARTISAN -->


                <li>
                    <a th:href="@{/backend/profil/}">
                        <i class="now-ui-icons users_circle-08"></i>
                        <p>Mon Profil</p>
                    </a>
                </li>

                <li>
                    <a th:href="@{/account/logout}">
                        <i class="now-ui-icons arrows-1_share-66"></i>
                        <p>Me Déconnecter</p>
                    </a>
                </li>

            </ul>

    </div>

</div>